api_access_key.txt
labelling/Test Script

.vscode/

detection/BasicDetectionExample/bin/
detection/BasicDetectionExample/obj/

detection/WPFDetectionExample/DetectionExample/bin/
detection/WPFDetectionExample/DetectionExample/obj/

identification/.vscode/

identification/CustomTraining/bin/
identification/CustomTraining/obj/

identification/CustomTrainingArgs/.vs/
identification/CustomTrainingArgs/bin/
identification/CustomTrainingArgs/obj/

identification/SampleTraining/.vs/
identification/SampleTraining/bin/
identification/SampleTraining/obj/

identification/Identification/.vs/
identification/Identification/bin/
identification/Identification/obj/

TerminalUtils/.vs/
TerminalUtils/bin/
TerminalUtils/obj/

labelling/FilteringExecutable/bin/
labelling/FilteringExecutable/obj/

labelling/FilteringTerminalArgs/.vs/
labelling/FilteringTerminalArgs/bin/
labelling/FilteringTerminalArgs/obj/

unity/UnityFaceIDHelper/.vs/
unity/UnityFaceIDHelper/bin/
unity/UnityFaceIDHelper/obj/