api_access_key.txt
csharp/labelling/Test Script

.vscode/

csharp/detection/BasicDetectionExample/.vs/
csharp/detection/BasicDetectionExample/bin/
csharp/detection/BasicDetectionExample/obj/
csharp/detection/BasicDetectionExample/BasicDetectionExample.sln

csharp/detection/WPFDetectionExample/.vs/
csharp/detection/WPFDetectionExample/DetectionExample/bin/
csharp/detection/WPFDetectionExample/DetectionExample/obj/

csharp/identification/.vscode/

csharp/identification/CustomTraining/.vs/
csharp/identification/CustomTraining/bin/
csharp/identification/CustomTraining/obj/
csharp/identification/CustomTraining/CustomTraining.sln

csharp/identification/SampleTraining/.vs/
csharp/identification/SampleTraining/bin/
csharp/identification/SampleTraining/obj/
csharp/identification/SampleTraining/SampleTraining.sln

csharp/identification/Identification/.vs/
csharp/identification/Identification/bin/
csharp/identification/Identification/obj/
csharp/identification/Identification/Identification.sln

csharp/TerminalUtils/.vs/
csharp/TerminalUtils/bin/
csharp/TerminalUtils/obj/
csharp/TerminalUtils/TerminalUtils.sln

csharp/labelling/FilteringExecutable/.vs/
csharp/labelling/FilteringExecutable/bin/
csharp/labelling/FilteringExecutable/obj/
csharp/labelling/FilteringExecutable/FilteringExecutable.sln

csharp/labelling/FilteringTerminalArgs/.vs/
csharp/labelling/FilteringTerminalArgs/bin/
csharp/labelling/FilteringTerminalArgs/obj/
csharp/labelling/FilteringTerminalArgs/FilteringTerminalArgs.sln

csharp/labelling/IdentifyUnknownVideo/.vs/
csharp/labelling/IdentifyUnknownVideo/bin/
csharp/labelling/IdentifyUnknownVideo/obj/
csharp/labelling/IdentifyUnknownVideo/IdentifyUnknownVideo.sln

csharp/labelling/CategorizeIdentifiedVids/.vs/
csharp/labelling/CategorizeIdentifiedVids/bin/
csharp/labelling/CategorizeIdentifiedVids/obj/
csharp/labelling/CategorizeIdentifiedVids/CategorizeIdentifiedVids.sln

python/PythonFaceIDHelper/.idea/

unity/UnityFaceIDHelper/.vs/
unity/UnityFaceIDHelper/bin/
unity/UnityFaceIDHelper/obj/
unity/UnityFaceIDHelper/UnityFaceIDHelper.sln